@import"colors";

html{
  background-color: $darkRed;
  background-image: linear-gradient($lightRed, $darkRed);
  height: 100%;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

body{
  font-family: HelveticaNeue;
  margin: 0px;
}

h1 {
  padding: 0px;
  margin: 0px;
  margin-left: 10%;
}
.logo{
  position: fixed;
  z-index: 100;
  font-size: 3rem;
  padding-top: 40px;
}

.time{
  margin: 0 auto;
  text-align: center;
  color: $lightpink;
  font-size: 5rem;
  padding-top: 160px;
}
a {
  text-decoration: none;
  color: $darkRed;
}
a:hover{
  color: $lightRed;
}
.wrapper{
  width:60%;
  margin: 0 auto;
}

button{
  background-color: white;
  color: $darkRed;
  border-radius: 50px;
  height: 3rem;
  outline: 0px;
  padding: 10px 30px;
  border: solid 3px white;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 0px;
  line-height: 25px;
}
button:hover{
  color: white;
  background-image: linear-gradient($lightRed, $darkRed);
}
button:focus {outline:0;}

h2{
  color:white;
  text-align: center;
}
h3{
  color:$darkRed;
  font-size: 3rem;
  margin-top: 32%;
  text-align: center;
  margin-bottom: 10px;
}

p{
  color: $lightRed;
}
.top{
  width: 50%;
  z-index: 99;
  position: fixed;
  min-width: 500px;
}
.middle{
  width: 100%;
  position: absolute;
  z-index: -1;
  padding-top: 100px;
  margin-top: 8%;
  margin-bottom: 100px;
}
.end{
  color: white;
  margin-top: 200px;
  padding-bottom: 75px;
  p{
    color: white;
  }
  h1{
    margin: 0;
    padding: 0;
  }
}

.buttons {
  display: flex;
  justify-content: space-between;
}

button{
  width:30%;
  flex-grow: 1;
  margin: 30px;
}

.break{
  flex-grow: .5;

}

.ron{
  width: 100%;
   min-height: 100%;
   padding: 20px;
   border-radius: 20px;
}

//BUBBLES
#leftDown{
  position: absolute;
  margin-top: 65%;
  height: 250px;
  margin-left: 0px;
}

#redCir{
  position: absolute;
  margin-top: 50%;
  height: 150px;
  margin-left: 80%;
}

#topRight{
  position: absolute;
  margin-top: 0%;
  width: 100%;
  z-index: -2;
}


// Media Querys
@media (max-width: 1300px){
  .ron{
    background-color: white;
  }
  .end{
      margin-top: 100px;
      padding-bottom: 45px;
  }
}

@media (max-width: 800px){
  .ron{
    background-color: white;
  }
  .end{
      margin-top: 100px;
      padding-bottom: 45px;
  }
  .bubbles{
    visibility: hidden;
  }
  .wrapper{
    width: 95%;
    margin: 0 auto;
  }
}

@media(max-width: 600px){
  .buttons {
    display: block;
    background-color: $darkRed;
  }
  button{
    min-width: 200px;
  }
  h3{
    background-color: white;
    border-radius: 20px;
    width: 100%;
  }
  .ron{
    width: 100%;
    box-sizing: border-box;
  }
  }